# MuthuPalaniappan M - 211101079 - Gini Index

### Importing Packages

In [1]:
import numpy as np
import pandas as pd

### Loading the Dataset

In [2]:
data = pd.read_csv("DataSets/classification.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

### Computing Gini-Index

In [3]:
def gini_index(col):
    col_values = data[col].value_counts()
    gini_index = 0
    for key in col_values.keys():
        data1 = data['Purchased'][data[col] == key].value_counts()
        n_key = col_values[key]
        n = data.shape[0]
        gini_index += (( n_key / n) * gini_impurity(data1))
    return gini_index

In [6]:
def gini_impurity(value_counts):
    n = value_counts.sum()
    p = 0
    for key in value_counts.keys():
        p +=  (value_counts[key] / n ) * (value_counts[key] / n )
    gini = 1 - p
    return gini

In [13]:
gini_col = {}
features = {"Age", "EstimatedSalary"}
print('Gini Index values')
for i in features:
    gini_col[i] = gini_index(i)
    print(f'{i}: {gini_col[i]:.5f}')

Gini Index values
Age: 0.22328
EstimatedSalary: 0.22003